.notFoundPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/background.png");

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .title {
    font-size: 52px;
  }

  & .description {
    font-size: 18px;
    color: var(--white);

    & a {
      margin-top: 20px;
      background: var(--red);
      padding: 15px;
      border-radius: 10px;
      font-weight: 700;
    }
  }
}
